/* light mod */
$mainColor: #F6F8FF;
$secondaryColor: #FEFEFE;
$actionColor: #0079FF;
$actionColorActive: lighten(#0079FF,20%);
$textBlackActive: darken(#2B3442,20%);
$textGrey: #697C9A;
$textBlue: #4B6A9B;
$textBlack: #2B3442;

/* dark mod */
$dMainColor: #141D2F;
$dSecondaryColor : #1E2A47;
$dTextWhite: #ffffff;
$dActionColor: #0079FF;

$shadowBox: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
$font: 'Space Mono', monospace;

@mixin h1 {
    font-family: $font;
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 2.375rem;
    color: $textBlack;
}
@mixin h2 {
    font-family: $font;
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 2rem;
    color: $textBlack;
}
@mixin h3 {
    font-family: $font;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $actionColor;
}
@mixin h4 {
    font-family: $font;
    font-weight: normal;
    font-size: 0.813rem;
    line-height:1.25rem;
    color: $textBlue;
}
@mixin body {
    font-family: $font;
    font-weight: normal;
    font-size: 0.938rem;
    line-height: 1.563rem;
    color: $textBlack;
}

/* Core */
.center{
    display: flex;
    align-items: center;
}
h1 ,h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
body{
    background-color: $mainColor;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.main_box{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 38vw;
    grid-template-rows: 6.1vh 7.3vh 45vh;
    grid-gap: 1vw;
}

/* Logo + darkmod */
header{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        @include h1;
    }
    label{
        display: flex;
        align-items: center;
        cursor: pointer;
        @include h3;
        color: $textGrey;
        letter-spacing: 3px;
        div{
            margin: 0.5vw;
        }
        &:hover{
            color: $textBlackActive;
        }
    }
}

/* Barre de recherche */
nav{
    grid-area: 2/1/3/2;
    box-shadow: $shadowBox;
    background-color: $secondaryColor;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label{
        display: flex;
        align-items: center;
        padding: 10px;
    }
    i{
        color: $actionColor;
        padding: 20px;
        font-size: 2rem;
    }
    input{
        border: none;
        outline: none;
        font-family: $font;
        width: 14vw;
        font-size: 1.1rem;
        caret-color: $actionColor;
    }
    .error{
        color: #F74646;
        font-size: 0.875rem;
        padding: 15px;
        visibility: hidden;
    }
    button{
        border: none;
        background-color: $actionColor;
        height: 5.3vh;
        width: 5.5vw;
        border-radius: 10px;
        font-family: $font;
        color: $secondaryColor;
        font-size: 1.081rem;
        cursor: pointer;
        &:hover{
            background-color: $actionColorActive;
        }
    }
}

/* Main Page */
main{
    grid-area: 3/1/4/2;
    box-shadow: $shadowBox;
    background-color: $secondaryColor;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 10vw 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2vw 1.5vw 1.5vw 0;
}
.img{
    grid-area: 1/1/3/2;
    justify-content: center;
    div{
        background-color: $mainColor;
        border-radius: 50%;
        width: 6vw;
        height: 6vw;
    }
}
.title{
    grid-area: 1/2/2/3;
    h1{
        @include h1;
    }
    h3{
        @include h3;
    }
}
.date{
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: end;
    @include h3;
    color: $textGrey;
}
.profil{
    grid-area: 2/2/3/4;
    @include body;
    color: $textBlue;
}
.box{
    grid-area: 3/2/4/4;
    background-color: $mainColor;
    border-radius: 0.5vw;
    &>div{
        margin: 0 3vw 0 1.5vw;
    }
    .statTitle{
        @include h4;
    }
    .stat{
        @include h2;
    }
}
.contact{
    grid-area: 4/2/5/4;
    margin-top: 1vw;
    .contactText{
        @include h3;
        color: $textBlue;
        &:hover{
            text-decoration: underline;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100%;
    }
    .contactLogo{
        color: $textBlue;
        font-size: 1.188rem;
        margin-right: 20px;
    }
    .contactMono{
        margin-bottom: 0.5vw;
        cursor: pointer;
    }
}


@media screen and (max-width: 780px) and (min-width: 425px){
    .main_box{
        grid-template-columns: 75vw;
        grid-template-rows: 5vh 8vh 50vh;
        grid-gap: 3vw;
    }
    nav{
        i{
            padding: 1vw 1vw;
        }
        input{
            font-size: 0.8rem;
            width: 29vw;
        }
        button{
            height: 6.5vh;
            width: 15vw;
        }
        .error{
            font-size: 0.7em;
            width: 10vw;
            padding: 0;
        }
    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 7vw 1fr 1fr 1fr;
        padding: 5vw;
    }
    .img{
        grid-area: 1/1/3/2;
        align-items: start;
        justify-content: start;
        div{
            width: 15vw;
            height: 15vw;
        }
    }
    .title{
        grid-area: 1/2/2/4;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .date{
        grid-area: 2/2/3/4;
        justify-content: start;
        font-size: 0.9rem;
    }
    .profil{
        grid-area: 3/1/4/4;
    }
    .box{
        grid-area: 4/1/5/4;
        &>div{
            margin: 0 10vw 0 3vw;
        }
    }
    .contact{
        grid-area: 5/1/6/4;
        margin-top: 1vw;
        .grid{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 100%;
        }
        .contactPar2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }
}

@media screen and (max-width: 425px){
    body{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2vh 1fr;
    }
    .main_box{
        grid-area: 2/2/3/3;
        grid-template-columns: 90vw;
        grid-template-rows: 5vh 10vh 75vh;
        grid-gap: 5vw;
    }
    nav{
        i{
            padding: 1vw 1vw;
            font-size: 1.6rem;
        }
        input{
            font-size: 0.75rem;
            width: 47vw;
        }
        label{
            padding-right: 0;
        }
        button{
            height: 8vh;
            width: 20vw;
            font-size: 0.8rem;
            margin-right: 2vw;
        }
        .error{
            display: none;
        }
    }
    main{
        grid-template-columns: 25vw 1fr;
        grid-template-rows: 10vh 7vh 15vh 12vh 1fr;
        padding: 5vw;
    }
    .img{
        grid-area: 1/1/3/2;
        justify-content: center;
        align-items: center;
    }
    .title{
        grid-area: 1/2/2/3;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .date{
        grid-area: 2/2/3/3;
        justify-content: start;
    }
    .profil{
        grid-area: 3/1/4/3;
    }
    .box{
        grid-area: 4/1/5/3;
        border-radius: 20px;
        &>div{
            margin: 0 8vw 0 3vw;
        }
    }
    .contact{
        grid-area: 5/1/6/3;
        padding: 3vw;
    }
    .grid{
        display: flex !important;
        flex-direction: column;
    }
   
}