/* light mod */
$mainColor: #F6F8FF;
$secondaryColor: #FEFEFE;
$actionColor: #0079FF;
$textGrey: #697C9A;
$textBlue: #4B6A9B;
$textBlack: #2B3442;

$shadowBox: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
$font: 'Space Mono', monospace;

.center{
    display: flex;
    align-items: center;
}
h1 ,h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
body{
    background-color: $mainColor;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
}
.main_box{
    display: grid;
    grid-template-columns: 38vw;
    grid-template-rows: 2vw 3.6vw 22vw;
    grid-gap: 1vw;
}
header{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: space-between;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    line-height: 1.7vw;
}
header label{
    display: flex;
    align-items: center;
    color: $textGrey;
    font-size: 1vw;
    line-height: 1vw;
    letter-spacing: 0.1vw;
    margin: 0;
    padding: 0;
}
header h4{
    margin: 0.5vw;
}
nav{
    grid-area: 2/1/3/2;
    box-shadow: $shadowBox;
    background-color: $secondaryColor;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
nav label{
    display: flex;
    align-items: center;
    padding: 10px;
}
nav i{
    color: $actionColor;
    padding: 20px;
    font-size: 1.5vw;
}
nav input{
    appearance: none;
    border: none;
    font-family: $font;
    width: 14vw;
    font-size: 0.9vw;
    line-height: 1.3vw;
}
.error{
    color: #F74646;
    font-size: 0.7vw;
    line-height: 1.1vw;
    padding: 15px;
    visibility: hidden;
}
nav button{
    border: none;
    background-color: $actionColor;
    height: 2.6vw;
    width: 5.5vw;
    border-radius: 10px;
    font-family: $font;
    color: $secondaryColor;
    font-size: 0.8vw;
}
main{
    grid-area: 3/1/4/2;
    box-shadow: $shadowBox;
    background-color: $secondaryColor;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2.3vw 1fr 1fr;
    padding: 1.5vw 1.5vw 1.5vw 0;
}
.img{
    grid-area: 1/1/3/2;
    justify-content: center;
    div{
        background-color: $mainColor;
        border-radius: 50%;
        width: 6vw;
        height: 6vw;
    }
}
.title{
    grid-area: 1/2/2/3;
}
.date{
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: end;
}
.profil{
    grid-area: 2/2/3/4;
}
.box{
    grid-area: 3/2/4/4;
    background-color: $mainColor;
    justify-content: space-evenly;
    border-radius: 0.5vw;
}
.contact{
    grid-area: 4/2/5/4;
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 85%);
    grid-template-rows: 100%;
}
.contact i{
    margin-right: 20px;
}